.collection-list-item {
  .list-image {
    max-height: 100px;
    max-width: 100px;
  }
  .glyphicon-pencil {
    margin-right: 10px;
    color: #f0ad4e;
    &:hover {
      text-decoration: none;
    }
  }
  .glyphicon-remove {
    color: #d9534f;
  }
  .glyphicon {
    cursor: pointer;
  }
  .collection-detail-link {
    display: table-cell;
  }
}
